@model Library_Manager.DTO.Book

@{
    ViewData["Title"] = "Book Details - " + Model.Title;
}

<div class="row">
    <div class="col-md-6">
        <div class="card text-white bg-secondary mb-3">
            <div class="card-header">Title</div>
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Description</div>
            <div class="card-body">
                <p class="card-text">@Model.Description</p>
            </div>
        </div>
        <p>Publication Date: <b>@Model.PublicationDate</b></p>
        <p>
            Is Taken:
            @if (Model.IsTaken)
            {
                <span class="text-danger">Taken</span>
            }
            else
            {
                <span class="text-success">Available</span>
            }
        </p>
    </div>

    <div class="col-md-6">
        <img src="@Model.ImageUrl" alt="@Model.Title" width="200" height="300" />
        <p class="rating-label">Rating: @Model.Rating </p>
        <div class="rating-stars">
            <i class="fa fa-star @((Model.Rating >= 1) ? "active" : "")"></i>
            <i class="fa fa-star @((Model.Rating >= 2) ? "active" : "")"></i>
            <i class="fa fa-star @((Model.Rating >= 3) ? "active" : "")"></i>
            <i class="fa fa-star @((Model.Rating >= 4) ? "active" : "")"></i>
            <i class="fa fa-star @((Model.Rating >= 5) ? "active" : "")"></i>
        </div>
    </div>
</div>

<a asp-controller="Home" asp-action="Index">Back to List</a>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


@*<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
    <div class="card-header">Title</div>
    <div class="card-body">
        <h5 class="card-title">Secondary card title</h5>
        <p class="card-text"><h2>@Model.Title</h2></p>
    </div>
</div>

<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Description</div>
    <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">@Model.Description</p>
    </div>
</div>
<p><img src="@Model.ImageUrl" alt="@Model.Title" width="100" height="150" /></p>


<p>Rating: @Model.Rating <b-form-rating v-model="value" variant="warning" class="mb-2"></b-form-rating> </p>
<p>Publication Date: <b>@Model.PublicationDate</b></p>
<p>
    Is Taken:
    @if (Model.IsTaken)
    {
        <span class="text-danger">Taken</span>
    }
    else
    {
        <span class="text-success">Available</span>
    }
</p>

<a asp-controller="Home" asp-action="Index">Back to List</a>*@